body{
  background-color:blanchedalmond;  
}
#Webcam,#Pic{
    border-style: dashed;
    border-color: black;
    width: 250px;
    height: 250px;
    border-width: 2px;
   }
   
   h1{
       letter-spacing: 15px;
       text-transform: uppercase;
   }